$primary: #2db7f5;

.upload{
  &-container{
    overflow: hidden;
    padding-right:300px + 24;
  }
  &-main{
    width: 100%;
    margin-right:-300px;
    float: left;
    //padding: 24px;
    //background: red;
  }
  &-sidebar{
    margin-top:-24px;
    width: 300px;
    border-left: 1px solid #e9e9e9;
    padding-left: 24px;
    float: right;
    margin-right:-300px - 24;
  }
  &-thumb{
    margin-bottom: 24px;
    height: 46px;
    span{
      background: #ccc;
      display:inline-block;
      width: 60px;
      height: 60px;
      border-radius: 2px;
    }
  }
}
.ant-upload-list-item{
  width: 20%;
}
