.fr{
	float:left;
}
.fr{
	float:right;
}
.filterSelect {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
.filterSelect li {
	width:100px;
	float:left;
	cursor:pointer;
}
.actived {
	background-color:red;
}
.alignRight{
	text-align: right;
}
.alignCenter{
	text-align: center;
}
.recommend{
	background-color: #2baee9;
}
.recommendBtn{
	position: absolute;
	top: 45%;
	right: 10%;
	background-color: grey;
}
.recommendBtn.actived{
	background-color: orange;
}
.stepBtn{
	min-width: 100px;
	height: 50px;
}
.topSteps {
	position:absolute;
	right: 0;
	z-index: 1;
}
.bottomSteps {
	float: right;
}
.ant-upload-list{
  display: inline-block;
  margin-right: 8px;
}

.addTagBtn {
	width: 15%;
	height: 50px;
}
.deleteBtn {
	float: right;
	background-color: red;
	color: #FFF;
}