.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #333;
  padding-top:100px;
  //display: flex;
  //justify-content: center;
  //align-items: center;

  .login-content {
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width:320px;
    padding:40px 30px;
    margin: 0 auto;
    button.ant-btn {
      //height: 40px;
    }
  }

  .login{
    &-header{
      text-align: center;
      background: url("../../assets/images/logo.svg") center 0 no-repeat;
      padding-top: 80px;
      background-size: 100px auto;
      font-size: 20px;
      padding-bottom: 20px;
    }
    &-footer{
      text-align: right;
    }
  }

  .ant-form-item {

  }
}
