html,body .no-skin,.login-layout{height:100%}
body{position:relative;overflow-y: scroll}
.div1{
    background: url("./avatars/avatar.png");
}
.div1{
    background: url("./avatars/avatar.png");
}
.div1{
    background: url("./avatars/avatar.png");
}
.div1{
    background: url("./avatars/avatar1.png");
}
.div2{
    background: url("./avatars/avatar2.png");
}
.div3{
    background: url("./avatars/avatar3.png");
}
.div4{
    background: url("./avatars/avatar4.png");
}
.div5{
    background: url("./avatars/avatar5.png");
}
.div6{
    background: url("./avatars/profile-pic.jpg");
}
.div7{
    background: url("./avatars/user.jpg");
}

ul {margin: 0}
.textcenter {text-align: center !important;}
.textleft {text-align: left !important;}
.textright {text-align: right !important;}
.pointer {cursor: pointer};
.margin-0 {margin: 0 !important}
.padding-0 {padding: 0 !important}
.overflow {overflow: hidden}

.fl {float: left}
.fr {float: right}

.mr--5 {margin-right: -5px !important}
.ml--5 {margin-left: -5px !important}
.ml-5 {margin-left: 5px !important}
.mr-5 {margin-right: 5px !important}
.mt-5 {margin-top: 5px !important}
.mb-5 {margin-bottom: 5px !important}

.ml-10 {margin-left: 10px !important}
.mr-10 {margin-right: 10px !important}
.mt-10 {margin-top: 10px !important}
.mt-15{margin-top: 15px !important}
.mb-10 {margin-bottom: 10px !important}
.ml-20 {margin-bottom: 20px !important}
.mb-20 {margin-bottom: 20px !important}
.mb-40 {margin-bottom: 40px !important}
.mt-50 {margin-top: 50px !important}

.pl-5 {padding-left: 5px !important}
.pr-5 {padding-right: 5px !important}
.pt-5 {padding-top: 5px !important}
.pb-5 {padding-bottom: 5px !important}
.pl-10 {padding-left: 10px !important}
.pr-10 {padding-right: 10px !important}
.pt-10 {padding-top: 10px !important}
.pb-10 {padding-bottom: 10px !important}
.pl-15 {padding-left: 15px !important}
.pr-15 {padding-right: 15px !important}
.pt-15 {padding-top: 15px !important}
.pb-15 {padding-bottom: 15px !important}
.pl-20 {padding-left: 20px !important}
.pr-20 {padding-right: 20px !important}
.pt-20 {padding-top: 20px !important}
.pb-20 {padding-bottom: 20px !important}
.pl-40 {padding-left: 40px !important}

.mt-13 {margin-top: 13px}
.mt-17 {margin-top: 17px}
.pt-65 {padding-top: 65px}
.pt-45 {padding-top: 45px}
.pt-55 {padding-top: 55px}
.pr-200 {padding-right: 200px}
.pr-260 {padding-right: 260px}

.hand{cursor: pointer;}
td .hand{margin-right:10px;text-decoration:none}

.modal-backdrop{height:100%;z-index:1040}
.modal-content{border-radius:6px;background-clip:padding-box;box-shadow:0 5px 15px rgba(0,0,0,.5)}
.modal-footer{border-radius:0 0 6px 6px}

.modal-sm .close{font-size:24px}

.searchForm label{font-size:13px}
.searchForm label span{cursor:pointer;color:#333}
.searchForm label span:hover{color:#f50}
.searchForm label span.active{color:#f50}
.searchForm .height68{height:68px;overflow:auto}
#j_filter .fa-chevron-down:before{margin:0 4px}
#j_filter .fa-chevron-up:before{margin:0 4px}
#j_filter .fa-check-square-o:before{margin-right:4px}
.widget-title .words{margin-left: 7px}
.widget-title {max-width: calc(100% - 89px);}
.sch_cps{position:absolute;top:0;right:0}

.loading{position:relative;height:100px;overflow:hidden}

/*orther*/
.main-container {background-color: #f2f2f2;}
.sidebar>div{width: 190px !important;}
.sidebar.menu-min>div{width: 43px !important;}
.btn {border: none;padding: 6px 9px}
.line-c { margin: 0px 12px; padding: 0 0;border-left: 1px solid #eee;}
.modal-backdrop.fade.in{position: fixed}
.has-feedback:after{content:""}
input.error {border-color: red}
.sidebar+.main-content{min-height: 900px; background-color: #fff}
.postilButton {position: absolute; right: 40px; top: 104px; z-index: 2;}
.dashed-container {margin:10px 0 16px;border: 1px dashed #ddd; padding: 15px 20px;}
.ant-tag-text a:hover{text-decoration: none}
.ant-select-selection__choice.red {background-color: #f00; color: #fff !important;}
.ant-select-selection__choice.green {background-color: green; color: #fff !important;}
.ant-select-selection__choice.gray {background-color: gray; color: #fff !important;}
.ant-select-selection__choice.red .ant-select-selection__choice__remove {color: #fff;}
.ant-select-selection__choice.green .ant-select-selection__choice__remove{color: #fff;}
.ant-select-selection__choice.gray .ant-select-selection__choice__remove{color: #fff;}
.errorInfo {float: left;color: #f00; font-size: 12px; padding-left: 15px;}

/*thumbnail*/
.thumbnailBox {width: 265px;padding: 0 9px;}

.thumbnail>img, .thumbnail a>img {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
.ant-card {position: relative;margin-bottom: 20px; font-size: 13px;}
.ant-card .custom-image{width: 270px; height: 178px;display: table-cell;vertical-align: bottom; position: relative;overflow: hidden;}
.ant-card .custom-image img{max-width: 100%;max-height: 100%; margin: 0 auto; display: block;}
.ant-card .custom-image .operateCantainer{width: 100%;height: 30px; background-color: rgba(0, 0, 0, 0.5); position: absolute;bottom: 0;padding: 7px 0 0 7px;opacity: 0;}
.ant-card .custom-image .rotate{text-align: center;position: absolute;top: 31%; width: 100%; z-index: 1;font-size: 46px; opacity: 0.7;color: #fff;cursor: default}
.ant-card .custom-image .operateCantainer i{font-size: 15px;color: #fff; margin-right: 11px; cursor: pointer;}
.ant-card:hover .custom-image .operateCantainer{opacity: 1}
.ant-card-body {padding: 7px; }
/*.ant-card:hover{border-color: #D42121;}*/
.ant-card.selected {border-color: #D42121;}
.ant-card .row{margin-left: 0;margin-right: 0;}
.ant-card hr {margin: 2px}
.ant-card .time-tag{margin-bottom: 15px}
.ant-card .num {font-weight: 500; padding-left: 7px; padding-right: 5px; line-height: 14px; margin-top: 2px;border-left: 1px solid #ddd;}
.ant-card .onlineNum {margin-top: 2px; line-height: 14px; margin-right: 7px}
.ant-card .custom-card button{border: none;margin-left: 4px;padding: 3px 8px;}
.ant-card .order{margin: 1px 5px; color: #999;font-weight: 600;font-size: 20px;}
.ant-card .status{margin: 1px 0 0;font-size: 13px; font-weight: 400; color: #999; }
.ant-card .custom-card{font-family: "微软雅黑";color: #444;margin-top: 10px; padding: 0 3px;}
.ant-card.storageCard .custom-card{ color: #666}
.ant-card .describe{font-size: 12px; height: 40px; overflow: hidden; margin: 0;}
.ant-card .grade {padding-top: 8px}
.ant-card .info {margin-top: 2px}
.ant-card .info .icon{padding: 2px 3px;border-radius: 4px;font-size: 12px;cursor: default;}
.ant-card .info .icon.black{ background-color: #000;color: #fff}
.ant-card .grade .ant-radio-group {padding-top: 10px; margin-left: 7px;}
.ant-card span.ant-radio+*{margin-left: 6px}
.ant-card .ant-radio-group label{margin-right: 13px}
.radio-mr-10 .ant-radio-group label{margin-right: 10px}
/*.ant-card:hover {box-shadow: 2px 8px 11px hsla(0,7%,8%,.2)}*/
.editGroup {width: 400px; max-width: none;}
.editGroup .custom-image{width: 410px; height: 275px}
.editGroup .row>div[class*=col-]{padding: 0}
.ant-calendar-range-picker.ant-input{border-radius: 0}
.ant-select-selection--multiple{border-radius: 0}
.keyword-tag .ant-select-selection__rendered{height: 125px; overflow-y: auto}
.people-tag .ant-select-selection__rendered{height: 52px; overflow-y: auto}
.custom-card .selected-tag {position: absolute;bottom: 123px;right: 9%;opacity: 0;pointer-events: none;font-size: 30px;color: #fafafa;}
.autograph {max-width: 127px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.auto {max-width: 85px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}

/*searchBox*/
.searchbox .ant-input-group-addon{padding: 0; border: none; background-color: #fff;}
.searchbox .ant-select>div {height: 100%;border-radius: 0;border-left: none;}
.searchbox .ant-select>div:focus,.searchbox .ant-select>div:hover {border-color: #ddd;box-shadow:none;}
.searchbox .ant-select>div>div {line-height: 34px}

/*wizard*/
.wizard-actions{padding-right: 17px;margin-bottom: 30px;}
.step-pane .form-group>label{text-align: right}
.step-pane .media-right{width: 100%}
.wizard-actions.top {position: absolute;right: 17px;z-index:11;padding-top: 13px;}
.row.operate {margin-top:11px;background-color: #fff}
.row.operate .ant-affix {padding:10px 0 4px; background-color: #fff; box-shadow: #ccc 2px 6px 28px;min-height: 50px;}
.row.operate button {margin-right: 5px}
.widget-main .steps{margin: 17px 0 30px;}
.selectAndTotal {color: #999;font-size: 17px;}
.wrapperStep3 {text-align: center; margin-top: 44px}
.wrapperStep3 .ant-radio-group {text-align: left; width: 75%;}
.specialList li {float: left;padding: 2px;width: 83px; margin-bottom: 10px;text-align: center;cursor: pointer;}
.specialList li:hover {text-decoration: underline}
ul.specialList {border: 1px dotted; padding: 16px 20px; overflow: hidden;}

/*autosuggest*/
.react-autosuggest__container { position: relative;}
.react-autosuggest__container .react-autosuggest__input{ width:100%}
.react-autosuggest__input:focus { outline: none;}
.react-autosuggest__container--open .react-autosuggest__input {border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.react-autosuggest__suggestions-container {position: absolute;top: 35px;width: 100%;height: 200px; overflow: auto;margin: 0; padding: 0;list-style-type: none;
border: 1px solid #aaa;background-color: #fff;font-family: 'Open Sans', sans-serif;font-weight: 300;font-size: 16px; border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px; z-index: 2;}

.react-autosuggest__suggestion { cursor: pointer;font-size:12px;padding: 6px 8px;}
.react-autosuggest__suggestion--focused {background-color: #ddd}
.react-autosuggest__section-title {padding: 10px 0 0 10px;font-size: 12px;color: #777;border-top: 1px dashed #ccc;}
.react-autosuggest__section-container:first-child .react-autosuggest__section-title { border-top: 0;}
.react-autosuggest__section-suggestions-container { margin: 0;padding: 0; list-style-type: none;}

/*antd form*/
.ant-form-item .ant-form-item-control{padding-left: 17px;}
.ant-form-item-with-help {margin-bottom: 10px;}
.ant-select-dropdown-menu-item {border: none !important;}
textarea.ant-input {font-size: 14px}
.has-error .ant-select-selection{box-shadow: none}
li[class*=item-] {border: none;}
input[readonly] {background: initial !important;}
.ant-pwd-strength {display: inline-block;margin-left: 8px;line-height: 32px;height: 32px;vertical-align: middle;}
.ant-pwd-strength-item {float: left;margin-right: 1px;margin-top: 12px;width: 19px;height: 8px;line-height: 8px; list-style: none; background-color: #f3f3f3;transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);}
.ant-pwd-strength-item-1 { border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.ant-pwd-strength-item-2 { width: 20px;}
.ant-pwd-strength-item-3 {border-top-right-radius: 6px; border-bottom-right-radius: 6px; margin-right: 8px;}
.ant-pwd-strength-low .ant-pwd-strength-item-1, .ant-pwd-strength-medium .ant-pwd-strength-item-1, .ant-pwd-strength-high .ant-pwd-strength-item-1 { background-color: #FAC450;}
.ant-pwd-strength-medium .ant-pwd-strength-item-2, .ant-pwd-strength-high .ant-pwd-strength-item-2 {background-color: rgba(135, 208, 104, .6);}
.ant-pwd-strength-high .ant-pwd-strength-item-3 { background-color: #87D068;}


/*slideBox*/
.slideBox { width: 100%; overflow: hidden;float: left;}
.slideBox .slideBox-inner {width: 200%;margin-left: 0;float: left;}
.slideBox .slideBox-inner.next {margin-left: -100%}
.slideBox .slideBox-context {float: left;width: 50%}
.favoriteModal {text-align: left}

/*classfiy Select*/
.classify {display: initial}
.classify .ant-select-selection{cursor: pointer; opacity: 0}
.classify ul.ant-select-selection__rendered{display: none}
.classify .dropdownicon{margin-left: -62px}
.classify:hover .dropdownicon{text-decoration: underline}
.classify .ant-select-search__field__placeholder {cursor: pointer}

/*animate*/
.custom-card .selected-tag{
    -webkit-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .6s cubic-bezier(0.77, 0, 0.175, 1);
}
.custom-card .selected-tag.in{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}
.custom-card .selected-tag.out{
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
}
.ant-card .custom-image .operateCantainer,
.ant-card .custom-image img,
.slideBox .slideBox-inner{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.imgRotate_90{
    -webkit-transform: rotate(90deg) scale(0.8);
    -moz-transform: rotate(90deg) scale(0.8);
    -ms-transform: rotate(90deg) scale(0.8);
    -o-transform: rotate(90deg) scale(0.8);
    transform: rotate(90deg) scale(0.8);
}
.imgRotate_180{
    -webkit-transform: rotate(180deg) scale(0.8);
    -moz-transform: rotate(180deg) scale(0.8);
    -ms-transform: rotate(180deg) scale(0.8);
    -o-transform: rotate(180deg) scale(0.8);
    transform: rotate(180deg) scale(0.8);
}
.imgRotate_270{
    -webkit-transform: rotate(270deg) scale(0.8);
    -moz-transform: rotate(270deg) scale(0.8);
    -ms-transform: rotate(270deg) scale(0.8);
    -o-transform: rotate(270deg) scale(0.8);
    transform: rotate(270deg) scale(0.8);
}

input[type=checkbox].ace+.checkbox_focus::before{cursor:pointer;font-family:fontAwesome;font-weight:400;font-size:12px;color:#32a3ce;content:"\a0";background-color:#FAFAFA;border:1px solid #c8c8c8;box-shadow:0 1px 2px rgba(0,0,0,.05);border-radius:0;display:inline-block;text-align:center;height:16px;line-height:14px;min-width:16px;margin-right:1px;position:relative;top:-1px}
input[type=checkbox].ace+.checkbox_active::before{display:inline-block;content:'\f00c';background-color:#F5F8FC;border-color:#adb8c0;box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1)}